
body,html {
  height:100%;
  min-width: 50%;
  min-height: 50%;
}


.bio-text {
  color: #E7ECEF;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.bio-img {
  border-radius: 10%;
  max-width: 100%;
  max-height: 100%;
}


.bio-profile {
  width: 100%;
  height: 35vh;
  border-radius: 10%;
  position: relative;
}

.bio {
  width: 70vh;
  height: 65vh;
  background-color: #6096BA;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  border-radius: 20%;
}

.bio-text-about {
  padding-top: 5%;
  width: 60%;
  height: 65vh;
}

.bio div {
  padding-bottom: 25px;
}

.everything{
  height: 100%;
  background: #A3CEF1;
  background-image: url('background.png');
}


.header {
  background: #8B8C89;
  height: 6%;
  width: 100%;
}

.footer {
  background: #8B8C89;
  height: 6%;
  width: 100%;
}

.terminal {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-column {
  flex: 1.5;
  text-align: center;
  align-self: center;
}

.middle-column {
  flex: 1;
  height: 100%;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-column {
  flex: 1.5;
  text-align: center;
  align-self: center;
}


h1 {
  color: #374C77;
  font-size: 3vh;
  text-decoration: underline;
}

h2 {
  color: #E7ECEF;
  font-size: 2vh;
}

h3 {
  color: #E7ECEF;
  font-size: 1.5vh;
}

p {
  color: #E7ECEF;
  text-align: center;
  font-size: 1.9vh;
}

.button {
  background-color: #6096BA;
  color: #274C77;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  height: 60px;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.return-button {
  border: 2px solid #274C77;
}

.button:hover {
  background-color: #2980b9;
}

.button:active {
  background-color: #1f618d;
}

.about-everything {
  height: 100%;
  background: #A3CEF1;
}

.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education {
  flex: 1;
  background-color: #6096BA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #274C77;
}


.skills {
  flex: 1;
  background-color: #6096BA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid #274C77;
}

.interests {
  flex: 1;
  background-color: #6096BA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #274C77;
}

.school {
  margin: 5%;
  border: 5px solid #274C77;
  text-align: center;
}

.skill-category {
  border: 5px solid #274C77;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  margin: 5%;
}

.skill-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background button {
  margin-bottom: 25%;
}

.interest-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest-category {
  border: 5px solid #274C77;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  margin: 5%;
}

.other-everything {
  height: 100%;
  background: #6096BA;
}

.other-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #274C77;
  justify-content: space-around;
}

.contact-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.other .return {
  position: absolute;
  top: 50%;
  right: 15px;
}

.contact-data h2 {
  text-decoration: underline;
}

.interesting-facts-container {
  flex: 1.5;
  border: 5px solid #274C77;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.interesting-facts {
  position: flex;
  flex-direction: column;
  max-height: 100%;
}

.fact1 {
  flex: 1;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fact1-text {
  max-width: 50%;
}

.fact1 img {
  max-width: 100%;
  height: 20vh;
}

.fact2 {
  flex: 1;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fact2-text {
  max-width: 50%;
}

.fact2 img {
  max-width: 100%;
  height: 25vh;
}

.fact3 {
  flex: 1;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fact3-text {
  max-width: 50%;
}

.fact3 img {
  max-width: 100%;
  height: 25vh;
}

.interesting-facts-header {
  border: 5px solid #274C77;
  padding: 1%;
  text-align: center;
  max-width: 30%;
}

.contact-info-header {
  border: 5px solid #274C77;
  padding: 1%;
}

.projects-everything {
  height: 100%;
  background:#6096BA;
}

.projects-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.projects-header {
  text-align: center;
}

.experience-container {
  flex: 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  overflow-y: auto;
}

.experience-header {
  text-align: center;
  margin-top: 5%;
}

.experience-timeline {
  margin-bottom: 14%;
  margin-right: 5%;
  align-items: center;
}

.expandable-content {
  cursor: pointer;
  padding: 20px;
  background-color: #6096BA;
  margin-top: 10px;
  border: 5px solid #274C77;
}

.details {
  display: none;
}

.projects-list {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects-return-button {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  text-align: center;;
}

.experience-everything {
  height: 100%;
  background:#6096BA;
  display: flex;
  flex-direction: row;
}

.experience-return {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  border-right: 5px solid #274C77;
}

.experience-ordering {
  display: flex;
  flex-direction: column;
}


